:root {
    --main-color: #0075d9;
    --secondary-color: #DC3545;
    --tertiary-color: #666666;


    --active-color: #01BF36;
    --week-warning-color: #FFCA00;
    --warning-color:#FFCA00;
    --expired-color: #ff0000;
}


body {
    font-family: Helvetica, Arial, Sans-Serif;
    margin: 0;
    padding: 0;
    
}

button {
    background: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-size: 15px;
    border-radius: 4px;
    margin-right: 8px;
    height: 30px;
    cursor: pointer;
    font-weight: 500;
}

button.primary-solid {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
}

button.secondary {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}
button.tertiary {
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
}

button.secondary-solid {
    background: var(--secondary-color);
    color: white;
    border: 2px solid var(--secondary-color);
}

input, select {
    padding-left: 12px;
    height: 30px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
}

.menu {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(170,170,170,.4);
    position: sticky;
    top: 0px;
    padding: 16px 12px;

}

.app-title {
    font-weight: bold;
    font-size: 24px;
}

.main-container {
    padding: 16px 12px;
}

.search-container {
    padding: 16px;
    border-radius: 8px;
    background-color: #F1F1F1;
    margin-bottom: 36px;
}


.search.actions .action {
    display: flex; 
    align-items: center;
}

.search.actions .action button {
    margin-left: 12px;
}

.search .label {
    margin-right: 8px;
}

.list {
    margin-top: 20px;
}

.list.bordered {
    padding-top: 12px;
    border-top: 1px solid #D6D6D6;
}

.list .list-item {
    cursor: pointer;
    margin-bottom: 8px;
}


.list .list-item:hover {
    background-color: #FFF;
}

.list .list-item td {
    padding: 2px 8px;
    border-collapse: collapse;
}

.list .list-item.active .list-details {
    color: var(--active-color);
}
.list .list-item.expired .list-details {
    color: var(--expired-color);
}
.list .list-item.week-expired .list-details {
    color: var(--week-warning-color);
}
.list .list-item.month-expired .list-details {
    color: var(--warning-color);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000AA;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.form {
    padding: 16px;
    border-radius: 16px;
    background-color: white;
}

.form select {
    min-width: 140px;
}

.form .title {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
}

.form .location {
    width: 60px;
}

.form .location::-webkit-inner-spin-button, 
.form .location::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}

.form .actions {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.form .actions button {
    margin-right: 12px;
}

.form .actions button:last-of-type {
    margin-right: 0;
}

.form .actions .action {
    margin-top: 12px;
}

.form td.danger {
    color: red;
}

.section-description .edit {
    margin-left: 16px;
    color: var(--main-color);
    cursor: pointer;
}

.display-options {
    margin-top: 24px;
    margin-bottom: 16px;
    display: flex;
}

.display-options .label {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.display-table {
    margin: 12px 0 36px;
}

.display-table table {
}

.section-container {
    margin-bottom: 20px;
}

.display-table table, .display-table th, .display-table td {
}

.table-data {
    margin-left: 8px;
    margin-right: 8px;
}
.table-data input{
    width: 50px;
}

.table-long-data {
    margin-left: 8px;
    margin-right: 8px;
}
.table-data input::-webkit-inner-spin-button, 
.table-data input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}

th.column-header {
    padding-bottom: 6px;
}

th.row-header {
    padding-right: 12px;
}

.item-container {
    min-width: 36px;
    text-align: center;
}

.item {
    box-shadow: 0 0 4px 0 #DDD;
    cursor: pointer;
    padding: 12px 0 6px;
    width: 100%;
    border-radius: 4px;
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-color: #DADADA;
}

.item:hover {
    box-shadow: 0 0 4px 0 var(--main-color);
}

.item.hidden {
    background-color: white !important;
}
.item.hidden .location {   
    color: #777 !important;
}

/* .show-on-hover:not(:hover) .location {
    visibility: hidden;
} */

.location {
    color: #777;
    font-size: 14px;
}

.location.contrast {
    color: white;
}

.show-on-hover:not(:hover) .offering-details {
    display: none;
}

.offering-details * {
    white-space: nowrap;
}

.item-container .item.active {
    border-color: var(--active-color);
}

.item-container .item.expired {
    border-color: var(--expired-color);
}

.item-container .item.week-expired {
    /* border-color: #ff5349; */
    border-color: var(--week-warning-color);
}

.item-container .item.month-expired {
    border-color: var(--warning-color);
}

.item-container.not-available {
}
.item-container.not-available * {
    visibility: hidden;
}

.details-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000AA;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.details {
    border-radius: 8px;
    background-color: white;
    padding: 16px;
    text-align: center;
}

.details .info-item {
    margin-bottom: 8px;
}

.stats-table-container {
    display: flex;
}

.stats-table {
    border-collapse: collapse;
    margin-right: 16px;
}

.stats-table th {
    text-align: center;
    padding: 2px 8px;
}

.stats-table .clickable {
    cursor: pointer;
}

.stats-table td {
    text-align: left;
    padding: 2px 8px;
}

.stats-table td.total {
    text-align: center
}

.stats-table tr:nth-child(odd) {
    background-color: #eee;
  }

.stats-table .active {
    color: var(--active-color);
}

.stats-table .expired {
    color: var(--expired-color);
}

.stats-table .warning {
    color: var(--warning-color);
}